.backgroundPane {
    -fx-background-image: url(../backgrounds/menus_background.jpg);
}

.Button {
    -fx-pref-height: 40;
    -fx-pref-width: 200;
    -fx-background-radius: 20;
    -fx-font-size: 18;
    -fx-background-color: rgba(12, 211, 29, 1);
}

.Button:hover{
    -fx-background-color: rgb(112, 206, 120);
    -fx-cursor: hand;
    -fx-font-size: 19;
}

.Rectangle {
    -fx-fill: rgba(89, 89, 251, 0.8);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-border-color: rgba(255, 183, 0, 0.8);
}

.text {
    -fx-font-size: 22;
    -fx-text-fill: black;
    -fx-border-width: 4;
    -fx-border-radius: 20;
    -fx-background-radius: 25;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-alignment: center;
    -fx-border-style: solid;
    -fx-background-color: rgba(255, 255, 255, 0.87);
    -fx-border-color: #c948fa;
}

Button {
    -fx-background-color: transparent;
}

.back-button {
    -fx-effect: dropshadow( three-pass-box , rgb(255, 255, 255), 2 , 0.3 , 0 , 0 );
}

.back-button:hover {
    -fx-effect: dropshadow( three-pass-box , rgb(255, 255, 255), 2 , 0.7 , 0 , 0 );
}

TextField {
    -fx-pref-height: 40;
    -fx-pref-width: 250;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-style: solid;
    -fx-background-color: white;
    -fx-border-color: #c948fa;
}

.title{
    -fx-pref-height: 40;
    -fx-pref-width: 250;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-style: solid;
    -fx-background-color: white;
    -fx-border-color: #c948fa;
}