.progress-bar {
    -fx-accent: green;
}

.progress-bar > .track {
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;
    -fx-padding: 1px;
    -fx-background-insets: 0;
}

.status-bar {
    -fx-background-color: rgba(76, 75, 75, 0.89);
}

.first-text {
    -fx-text-fill: yellow;
}

.second-text {
    -fx-text-fill: #27ff27;
}

.third-text {
    -fx-text-fill: #00fff7;
}

.year-text {
    -fx-text-fill: white;
}