.backgroundPane {
    -fx-background-image: url(../backgrounds/menus_background.jpg);
}

.back-button {
    -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 2, 0.3, 0, 0);
}

.back-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 2, 0.7, 0, 0);
}

.cancel-button{

    -fx-text-fill: white;
    -fx-background-radius: 40;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent,red ;
    -fx-background-insets: 0, 20 ;

}

.cancel-button:hover{
    -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 2, 0.7, 0, 0);
}

.label-info{
    -fx-text-fill: blue;
    -fx-font-size: 30;
}

.label-alert{

}

.network-button{
    -fx-text-fill: #4607e5;
    -fx-background-color: #5d076f;
    -fx-border-radius: 1000;
    -fx-background-radius: 400;
}