.progress-bar {
    -fx-accent: green;
}

.progress-bar > .track {
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;
    -fx-padding: 1px;
    -fx-background-insets: 0;
}

.status-bar {
    -fx-background-color: black;
}

.first-text {
    -fx-text-fill: yellow;
}

.second-text {
    -fx-text-fill: green;
}

.third-text {
    -fx-text-fill: blue;
}

.year-text {
    -fx-text-fill: white;
}